html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
  }

.blog-header {
    background-image: url("../assets/blog-image.jpg");
	background-size: cover ;
	height: 60vh;
    //width: 100%;
	display: block;
	background-repeat: no-repeat;
    background-position: bottom;
}

.header-logo {
    font-family: 'Kumar One', cursive;
    font-size: 2.2rem;
    line-height: 24px;
    letter-spacing: 1.2px;
    margin: 0;
    text-transform: uppercase;
    width: 100px;
    margin-left: 150px;
    padding-top: 20px;
    position: absolute;
}

.blog-header {
    position: relative;
}

.blog-header h1 {
    margin-left: 150px;
    margin-top: 140px;
}

//BLOG SECTION


.blog-content h2, h3 {
    font-family: 'Kumar One', cursive;
	font-size: 2.3rem;
	line-height: 40px;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	padding-top: 100px;
	margin: 0;
}

.blog-content h2 {
    width: 500px;
    padding-top: 40px;
}

.blog-content h3 {
    font-size: 2rem;
}

.blog-content p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 25px; 
	margin-top: 0;
}

.content-date {
    font-style: italic;
}

.content-date span {
    font-weight: 900;
}


.blog-content {
    background-color: #E0FDDF;
    width: 100%;
}

.blog-content-container {
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 60%;
    background-color: white;
    //padding-right: 20px;
    box-shadow: 20px 20px 0 #ff0;
    position: relative;
    top: -140px;
    
    

}
.left-image-container {
    position: relative;
}
.left-content img {
    width: 100%;
	height: 100%;
	object-fit: contain;
    background-color: #ff0;
    box-shadow: 0px 20px 0 #ff0;
    padding: 0;

}

.left-content-text {
    padding-left: 120px;
    padding-right: 50px;
}



.right-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: right;
    width: 30%;
    margin-top: 85px;

}
.right-image-container {
    margin: 0;
}
.right-content img {
    width: 70%;
	height: 70%;
	object-fit: contain;
    display: block;
    margin-left: auto;
    background-color: #ff0;
    box-shadow: -20px 20px 0 #ff0;
}

.right-content-text {
    background-color: #ff0;
    width: 70%;
    margin-left: auto;
    box-shadow: -20px 0 0 #ff0;
    padding-bottom: 15px;
}

.right-content-text ul {
    padding-left: 25px;
}
.right-content-text li {
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 20px; 
	margin-top: 0;
}


.right-content h3 {
    padding-top: 15px;
}

.right-content h3:nth-last-of-type(1) {
    padding-top: 0;
}