nav li {
	display: inline;
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: .14rem;
	line-height: 2.9rem;
	padding: 20px;
		
}

nav {
	display: flex;
	justify-content: flex-end;
}


nav a {
	text-decoration: none;
	color: black;
}

nav li:hover {
	border-bottom: 2px solid #F8FB05;
}


